@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

.container {
    width: 90%;
    margin: auto;
}

.margin-top {
    margin-top: 5rem;
}

.flex {
    display: flex;
    align-items: center;
}

.header-section {
    background-color: #FFE9E0;
    padding: 1rem;
    border-radius: 0 0 0.7rem 0.7rem;
}

.header-section p {
    color: rgb(53, 53, 53);
    text-align: center;
}

.nav-container {
    justify-content: space-between;
}

.nav-bar .left,
.nav-bar .right {
    gap: 1rem;
}

.left i {
    font-size: 1.4rem;
}

/* when hover over menu bar */
.left i:hover {
    cursor: pointer;
}

.left img {
    width: 4.8rem;
}

/* when hover over logo */
.left img:hover {
    cursor: pointer;
}

.right .language-button {
    background-color: #F5EFFF;
    gap: 0.5rem;
    padding: 0.6rem 0.5rem;
    border-radius: 0.4rem;
}

.right .language-button:hover {
    background-color: #E8DAFF;
    cursor: pointer;
}


.right .language-button svg {
    height: 0.9rem;
    width: 1rem;
}

.right p {
    font-size: 0.8rem;
    font-weight: 410;
}

.right img {
    width: 01rem;
    border-radius: 2px;
}

.nav-container {
    margin: 1rem auto;
}

.nav-bar .right .login-button {
    padding: 0.44rem 1.2rem;
    border-radius: 0.4rem;
    border: 0.5px solid #000000;
    background-color: transparent;
}

/* when cursor over login button */
.nav-bar .right .login-button:hover {
    background-color: #FEDFE5;
    cursor: pointer;
}

.nav-bar .right .login-button p {
    color: #EC0332;
    font-size: 0.85rem;
}

.under_navbar_line {
    background: #1d1d1d7d;
    height: 1px;
}

/* ====================sildeshow===================== */


.slideshow {
    /* margin: 1rem 0; */
    padding: 0.7rem;
    margin-top: 1rem;
}

.slideshow img {
    width: 100%;
    border-radius: 1.1rem;
}

.welcome-message-container {
    margin: 1rem auto;
    flex-direction: column;
    gap: 1rem;
}

.welcome-message h2 {
    font-size: 6.7vmin;
    /* margin-top: 2rem; */
    font-weight: 400;
    text-align: center;
    white-space: nowrap;

    background-clip: text;
    color: rgb(0, 0, 0);


}

.gradient {
    background-image: linear-gradient(to right, #5A4BDA, #EB427E);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}




.welcome-message p {
    line-height: 1.5;
    font-size: 4vmin;
    margin: 0 0.1rem;
    text-align: center;
    color: rgb(107, 107, 107);
    white-space: nowrap;
}

.welcome-message img {
    width: 90%;
    border-radius: 1rem;
    box-shadow: 4px 4px 15px 2px rgba(0, 0, 0, 0.3);
    margin: 0 2rem;
}

.introduction-container {
    flex-direction: column;
    gap: 1rem;
}

.introduction-container h2 {
    color: #5A4BDA;
    width: 90vmin;
    font-size: 6.7vmin;
}

.introduction-container p {
    color: rgb(107, 107, 107);
    line-height: 1.5;
    font-size: 4vmin;
}

/* -----------------popular attractions----------------------- */

.popular-attractions .places-wrapper .places-dp {
    justify-content: left;
    gap: 1rem;
    border: 1.5px solid #E4E7EA;
    border-radius: 0.6rem;
    font-weight: 500;
    font-size: 3.5vmin;
    padding: 0.5rem;
    margin: 0.9rem 0 0.9rem 0;

}




.popular-attractions .places-wrapper img {
    width: 50px;
    border-radius: 0.4rem;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
}

/* -----------line wrapper below heading------------- */
.line-wrapper-below-heading {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 2rem;
}

.line {
    flex-grow: 1;
    height: 2px;
    background-color: #E4E7EA;
    border-radius: 5rem;
}

.heading-with-lines {
    margin: 0 10px;
}

.line-wrapper-below-heading p {
    color: #EB427E;
    font-weight: 500;
    font-size: 4vmin;
    position: relative;
    z-index: 1;
    white-space: nowrap;
}

/* -----------line wrapper below heading------------- */


.homepage-heading-property {
    font-size: 5.5vmin;
    font-weight: 600;
    text-align: center;
    white-space: nowrap;
}

.events-and-fests .main-wrapper {
    justify-content: space-around;
}


.events-and-fests .main-wrapper img {
    border-radius: 0.6rem;
}

.events-and-fests .main-wrapper p {
    font: 0.7rem;
}

.event-left,
.event-right {

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.4rem;
}

.event-left img,
.event-right img {
    width: 9rem;
}

.event-left p,
.event-right p {
    font-weight: 500;
    font-size: 3.5vmin;
}

/* ------------exclusive in gorakhpur------------- */

.exclusive-wrapper {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-bottom: 5rem;
}
.terracota, .geeta-press{
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    font-weight: 500;
    font-size: 4.5vmin;
    

}
.terracota img, .geeta-press img{
    border-radius: 0.6rem;
    height: 16rem;
   
}
